In [2]:
import pandas as pd
from pandas import DataFrame,Series
import numpy as np
import sys
import os
import re
import zipfile

In [5]:
?os.listdir

In [4]:
for i in os.listdir(".//dataset//after"):
    try:
        fantasy_zip = zipfile.ZipFile(".//dataset//after//"+i)
        fantasy_zip.extractall(".//dataset//after//MI")
    except:
        pass
    
    fantasy_zip.close()

## 각각 폴더별로 분산 저장되어있는 파일들을 모두 꺼내 하나의 폴더로 통합한다.

In [6]:
before_path = input("대체 전 경로 입력")
dir_list = os.listdir(before_path)

replace_path = input("대체 후 경로 입력")

for i in dir_list:
    temp = os.listdir(before_path+"//"+i)
    os.rename(before_path+"//"+str(i)+"//"+temp[0],replace_path+"//"+str(i[:28])+".csv")

대체 전 경로 입력.//dataset//after//MI
대체 후 경로 입력.//dataset//after//MI

NotADirectoryError: [WinError 267] 디렉터리 이름이 올바르지 않습니다: './/dataset//after//MI//SURFACE_ASOS_100_MI_2019-01_2019-01_2019.csv'

## 파일들을 모두 읽어 통합 데이터프레임을 만들고, 시간 변수를 다시 읽어들어 판다스 date 타입으로 바꾼다.

In [3]:
dir_list = os.listdir(".//dataset//after")

In [4]:
#통합된 폴더에서 파일들을 다시 읽어와 통합된 데이터프레임(merged_list)로 만든다.

merged_list = DataFrame()
for i in dir_list:
    merged_list = merged_list.append(pd.read_csv(".//dataset//after"+"//"+i,sep = ",",encoding="EUC-KR",index_col=False))

# 인덱스 재배열
    
merged_list = DataFrame.reset_index(merged_list)
del merged_list["index"]

# 시간 인덱싱

if input("시간 인덱싱을 할까요?(시간 10분 소요), Yes : 1, No : else") == "1" :
    merged_list["dates"] = merged_list["일시"].apply(lambda x: pd.to_datetime(x))
    

if input("작업물을 저장할까요? yes : 1, no : else") == "1" :
    merged_list.to_csv("result_hour.csv",encoding="utf-8",index = None)

시간 인덱싱을 할까요?(시간 10분 소요), Yes : 1, No : elsel
작업물을 저장할까요? yes : 1, no : else1

### 외부에서 데이터를 불러올 때

In [18]:
merged_list = pd.read_csv("result_3.csv",encoding="utf-8")

merged_list["dates"] = merged_list["일시"].apply(lambda x: pd.to_datetime(x))

merged_list = merged_list.set_index("dates")

In [124]:
merged_list_3.shape

(10005139, 11)

In [62]:
temp = merged_list.groupby("지점").apply(lambda x : x["기온(°C)"].resample("H").mean())
windspeed = merged_list.groupby("지점").apply(lambda x : x["풍속(m/s)"].resample("H").mean())
winddeg = merged_list.groupby("지점").apply(lambda x : x["풍향(deg)"].resample("H").mean())
temppressure = merged_list.groupby("지점").apply(lambda x : x["현지기압(hPa)"].resample("H").mean())
seapressure = merged_list.groupby("지점").apply(lambda x : x["해면기압(hPa)"].resample("H").mean())
humidity = merged_list.groupby("지점").apply(lambda x : x["습도(%)"].resample("H").mean())

In [63]:
rainfall = merged_list.groupby("지점").apply(lambda x : x["누적강수량(mm)"].resample("H").max())
sunlight = merged_list.groupby("지점").apply(lambda x : x["일사(MJ/m^2)"].resample("H").max())
sunshine = merged_list.groupby("지점").apply(lambda x : x["일조(Sec)"].resample("H").max())

In [64]:
first = pd.merge(temp,windspeed,left_index=True,right_index=True)
second = pd.merge(first,winddeg,left_index=True,right_index=True)
third = pd.merge(second,temppressure,left_index=True,right_index=True)
fourth = pd.merge(third,seapressure,left_index=True,right_index=True)
fifth = pd.merge(fourth,humidity,left_index=True,right_index=True)
sixth = pd.merge(fifth,rainfall,left_index=True,right_index=True)
seventh = pd.merge(sixth,sunlight,left_index=True,right_index=True)
eighth = pd.merge(seventh,sunshine,left_index=True,right_index=True)

In [65]:
eight_1 = eighth.reset_index()

In [57]:
merged_list_2 = pd.read_csv("result_2.csv",encoding="utf-8")

merged_list_2["dates"] = merged_list_2["일시"].apply(lambda x: pd.to_datetime(x))

merged_list_2 = merged_list_2.set_index("dates")

In [66]:
temp = merged_list_2.groupby("지점").apply(lambda x : x["기온(°C)"].resample("H").mean())
windspeed = merged_list_2.groupby("지점").apply(lambda x : x["풍속(m/s)"].resample("H").mean())
winddeg = merged_list_2.groupby("지점").apply(lambda x : x["풍향(deg)"].resample("H").mean())
temppressure = merged_list_2.groupby("지점").apply(lambda x : x["현지기압rainfall = merged_list_2.groupby("지점").apply(lambda x : x["누적강수량(mm)"].resample("H").max())
sunlight = merged_list_2.groupby("지점").apply(lambda x : x["일사(MJ/m^2)"].resample("H").max())
sunshine = merged_list_2.groupby("지점").apply(lambda x : x["일조(Sec)"].resample("H").max())(hPa)"].resample("H").mean())
seapressure = merged_list_2.groupby("지점").apply(lambda x : x["해면기압(hPa)"].resample("H").mean())
humidity = merged_list_2.groupby("지점").apply(lambda x : x["습도(%)"].resample("H").mean())

In [67]:
rainfall = merged_list_2.groupby("지점").apply(lambda x : x["누적강수량(mm)"].resample("H").max())
sunlight = merged_list_2.groupby("지점").apply(lambda x : x["일사(MJ/m^2)"].resample("H").max())
sunshine = merged_list_2.groupby("지점").apply(lambda x : x["일조(Sec)"].resample("H").max())

In [68]:
first = pd.merge(temp,windspeed,left_index=True,right_index=True)
second = pd.merge(first,winddeg,left_index=True,right_index=True)
third = pd.merge(second,temppressure,left_index=True,right_index=True)
fourth = pd.merge(third,seapressure,left_index=True,right_index=True)
fifth = pd.merge(fourth,humidity,left_index=True,right_index=True)
sixth = pd.merge(fifth,rainfall,left_index=True,right_index=True)
seventh = pd.merge(sixth,sunlight,left_index=True,right_index=True)
eighth = pd.merge(seventh,sunshine,left_index=True,right_index=True)

In [70]:
eighth_2 = eighth.reset_index()

In [61]:
merged_list_3 = pd.read_csv("result.csv",encoding="utf-8")

merged_list_3["dates"] = merged_list_3["일시"].apply(lambda x: pd.to_datetime(x))

merged_list_3 = merged_list_3.set_index("dates")

In [71]:
temp = merged_list_2.groupby("지점").apply(lambda x : x["기온(°C)"].resample("H").mean())
windspeed = merged_list_2.groupby("지점").apply(lambda x : x["풍속(m/s)"].resample("H").mean())
winddeg = merged_list_2.groupby("지점").apply(lambda x : x["풍향(deg)"].resample("H").mean())
temppressure = merged_list_2.groupby("지점").apply(lambda x : x["현지기압(hPa)"].resample("H").mean())
seapressure = merged_list_2.groupby("지점").apply(lambda x : x["해면기압(hPa)"].resample("H").mean())
humidity = merged_list_2.groupby("지점").apply(lambda x : x["습도(%)"].resample("H").mean())

In [72]:
rainfall = merged_list_2.groupby("지점").apply(lambda x : x["누적강수량(mm)"].resample("H").max())
sunlight = merged_list_2.groupby("지점").apply(lambda x : x["일사(MJ/m^2)"].resample("H").max())
sunshine = merged_list_2.groupby("지점").apply(lambda x : x["일조(Sec)"].resample("H").max())

In [73]:
first = pd.merge(temp,windspeed,left_index=True,right_index=True)
second = pd.merge(first,winddeg,left_index=True,right_index=True)
third = pd.merge(second,temppressure,left_index=True,right_index=True)
fourth = pd.merge(third,seapressure,left_index=True,right_index=True)
fifth = pd.merge(fourth,humidity,left_index=True,right_index=True)
sixth = pd.merge(fifth,rainfall,left_index=True,right_index=True)
seventh = pd.merge(sixth,sunlight,left_index=True,right_index=True)
eighth = pd.merge(seventh,sunshine,left_index=True,right_index=True)

In [74]:
eighth_3 = eighth.reset_index()

In [85]:
eighth_3.to_csv("result_output.csv",encoding="utf-8",index = None)
eighth_2.to_csv("result_2_output.csv",encoding="utf-8",index = None)
eight_1.to_csv("result_3_output.csv",encoding="utf-8",index = None)

In [86]:
merged = pd.concat([eighth_3,eighth_2,eight_1])

In [129]:
merged = merged.reset_index(drop=True)

In [132]:
merged.to_csv("result_final.csv",encoding="utf-8",index= None)

In [3]:
merged = pd.read_csv("result_final.csv",encoding="utf-8")

In [27]:
merged.columns

Index(['지점', 'dates', '기온(°C)', '풍속(m/s)', '풍향(deg)', '현지기압(hPa)', '해면기압(hPa)',
       '습도(%)', '누적강수량(mm)', '일사(MJ/m^2)', '일조(Sec)', 'row_number'],
      dtype='object')

In [29]:
merged.loc[merged["지점"] == 131,"기온(°C)"]

0         22.138983
1         21.493333
2         20.515000
3         20.026667
4         19.526667
            ...
300994     7.459322
300995     7.226667
300996     7.326667
300997     7.155000
300998     7.000000
Name: 기온(°C), Length: 4370, dtype: float64

In [70]:
merged.columns

Index(['지점', 'dates', '기온(°C)', '풍속(m/s)', '풍향(deg)', '현지기압(hPa)', '해면기압(hPa)',
       '습도(%)', '누적강수량(mm)', '일사(MJ/m^2)', '일조(Sec)'],
      dtype='object')

In [79]:
len(new_df.loc[:,[merged.columns[9]]].columns)

61

In [82]:
merged.columns[9]

'일사(MJ/m^2)'

In [68]:
len(np.unique(merged["지점"]))

75

In [4]:
merged_new = merged.copy()
del merged_new['일사(MJ/m^2)']

In [5]:
new_df = merged_new.pivot_table(index=["dates"], columns=["지점"], values=merged_new.columns)

In [6]:
new_columns = np.zeros(1)

for i in merged_new.columns[2:]:
    for j in np.unique(merged_new["지점"]):
        temp = np.array(str(i) + str(j))
        new_columns = np.hstack([new_columns,temp])

new_columns = new_columns[1:]

In [7]:
new_df = new_df.fillna(0)

In [8]:
new_df.columns = new_columns.copy()

In [9]:
target = new_df.iloc[48:,1]

In [10]:
new_df.to_csv("new_df.csv",encoding="utf-8")

In [101]:
new_df.iloc[:len(new_df) - 48,2:]

,기온(°C)135,기온(°C)136,기온(°C)137,기온(°C)138,기온(°C)140,기온(°C)143,기온(°C)146,기온(°C)152,기온(°C)155,기온(°C)156,...,일조(Sec)278,일조(Sec)279,일조(Sec)281,일조(Sec)283,일조(Sec)284,일조(Sec)285,일조(Sec)288,일조(Sec)289,일조(Sec)294,일조(Sec)295
dates,,,,,,,,,,,,,,,,,,,,,
2019-01-01 00:00:00,-5.025424,-5.813559,-4.210169,0.093220,-1.925424,-1.554237,-3.098305,-0.183051,-0.532203,-1.040678,...,1024.262712,1028.450847,1021.493220,1028.440678,1005.050847,1030.098305,1031.438983,1016.477966,1026.450847,1027.315254
2019-01-01 01:00:00,-3.968333,-5.933333,-3.546667,-0.713333,-1.911667,-1.875000,-2.648333,-1.101667,-1.326667,-1.828333,...,1024.331667,1028.365000,1021.645000,1028.411667,1004.921667,1029.968333,1031.515000,1016.346667,1026.343333,1027.138333
2019-01-01 02:00:00,-3.590000,-6.870000,-3.301667,-1.318333,-1.880000,-2.173333,-2.333333,-1.688333,-1.855000,-2.030000,...,1024.181667,1028.158333,1021.545000,1028.580000,1005.148333,1030.196667,1031.638333,1016.540000,1026.568333,1027.213333
2019-01-01 03:00:00,-3.448333,-7.058333,-2.998333,-1.833333,-1.776667,-2.325000,-2.631667,-1.913333,-2.156667,-1.745000,...,1024.151667,1028.095000,1021.541667,1028.518333,1004.860000,1029.900000,1031.703333,1016.075000,1026.400000,1027.050000
2019-01-01 04:00:00,-3.766667,-7.306667,-2.601667,-2.031667,-1.756667,-2.716667,-2.611667,-2.146667,-2.405000,-1.286667,...,1023.778333,1027.471667,1020.966667,1027.755000,1004.135000,1029.190000,1031.026667,1015.461667,1025.745000,1026.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-28 20:00:00,1.460000,5.111667,3.500000,6.180000,5.283333,5.575000,6.568333,5.876667,7.700000,6.483333,...,1019.523333,1023.318333,1017.935000,1025.073333,1001.036667,1025.980000,1027.816667,1012.485000,1023.061667,1023.348333
2019-11-28 21:00:00,1.758333,3.833333,3.200000,6.005000,4.051667,4.671667,5.548333,5.401667,6.981667,5.995000,...,1019.535000,1023.438333,1018.050000,1025.105000,1001.196667,1026.061667,1027.926667,1012.668333,1023.206667,1023.685000
2019-11-28 22:00:00,1.253333,2.643333,3.063333,5.431667,3.575000,3.693333,4.771667,4.576667,6.190000,5.970000,...,1019.571667,1023.518333,1017.853333,1024.783333,1001.241667,1026.048333,1027.836667,1012.718333,1023.238333,1023.636667
2019-11-28 23:00:00,2.661667,2.201667,2.988333,4.885000,3.321667,3.161667,4.480000,3.891667,5.546667,5.220000,...,1019.706667,1023.653333,1017.933333,1024.913333,1001.360000,1026.178333,1028.035000,1012.933333,1023.240000,1023.693333
2019-11-29 00:00:00,2.450000,1.571667,3.763333,4.291667,3.128333,2.500000,3.723333,3.636667,5.348333,5.015000,...,1019.581667,1023.693333,1017.796667,1024.736667,1001.431667,1026.206667,1027.985000,1013.000000,1023.053333,1023.518333

In [95]:
target

dates
2019-01-02 00:00:00   -4.320000
2019-01-02 01:00:00   -5.118333
2019-01-02 02:00:00   -5.388333
2019-01-02 03:00:00   -6.026667
2019-01-02 04:00:00   -6.768333
                         ...
2019-11-30 20:00:00    7.443333
2019-11-30 21:00:00    7.315000
2019-11-30 22:00:00    7.136667
2019-11-30 23:00:00    7.000000
2019-12-01 00:00:00    6.800000
Name: 기온(°C)133, Length: 7993, dtype: float64

In [72]:
temp_list = DataFrame(columns=merged_list.columns)

for i in merged_list["지점"].unique():
    temp = merged_list[merged_list["지점"] == i].drop_duplicates("dates")
    temp_list = pd.concat([temp_list,temp])

In [76]:
temp_list.to_csv("result.csv",encoding="utf-8",index = None)

In [172]:
# 콘존만 저장되어있는 csv파일을 읽어 참조용 파일로 활용한다.

conzones = pd.read_csv("콘존.csv",encoding="EUC-KR")
merged_main = DataFrame(columns = ["date","conzone","type","speed"])
killswitch = "1"

# 콘존(0001XXXXX)형태에서 첫 네자리의 숫자를 입력한다.(경부고속도로 : 0010)
while True:
    lists_selected = Series()
    merged_selected = DataFrame(columns = ["date","conzone","type","speed"])
    # 작업 중단 여부를 결정(killswitch = 0이면 작업 중단)
    if killswitch == "1":
        conzone_id = input("원하는 콘존의 ID 첫 네자리를 입력하세요")
        for i in np.array(conzones["콘존ID"]):
            if i[0:4] == conzone_id:
                lists_selected = pd.concat([lists_selected,Series(i)])

        for j in lists_selected:
            temp = merged_list.loc[np.where(np.array(merged_list["conzone"]) == j)]
            merged_selected = merged_selected.append(temp)
        merged_main = merged_main.append(merged_kyongbu)
        merged_main = merged_main.reset_index(drop = True)
        merged_selected.to_csv(replace_path+"//"+"VDS_총통행거리_수정"+str(conzone_id+".csv"))
        killswitch = input("작업을 계속 할까요(continue : 1)")
    else:
        break

원하는 콘존의 ID 첫 네자리를 입력하세요0010
작업을 계속 할까요(continue : 1)0

In [173]:
data = merged_main

h = (1.5) * (np.sort(data["speed"])[round((0.25)*(len(data)+1))] + np.sort(data["speed"])[round((0.75)*(len(data)+1))])
lower = round(np.sort(data["speed"])[round((0.25)*(len(data)+1))] - h)
upper = round(np.sort(data["speed"])[round((0.75)*(len(data)+1))] + h)

## 데이터 분석을 위한 전처리

In [166]:
# 경부고속도로 ,서해고속도로, 호남고속도로, 중부내륙, 영동고속도로의 콘존ID들(0010 패밀리, 0250 패밀리)를 리스트로 일단 저장

lists_kyongbu = Series()
lists_westsea = Series()
lists_honam = Series()
lists_innerland = Series()
lists_Yeongdong = Series()

for i in np.array(conzones["콘존ID"]):
    if i[0:4] == "0010":
        lists_kyongbu = pd.concat([lists_kyongbu,Series(i)])
    if i[0:4] == "0150":
        lists_westsea = pd.concat([lists_westsea,Series(i)])
    if i[0:4] == "0251":
        lists_honam = pd.concat([lists_honam,Series(i)])
    if i[0:4] == "0450":
        lists_innerland = pd.concat([lists_innerland,Series(i)])
    if i[0:4] == "0500":
        lists_Yeongdong = pd.concat([lists_Yeongdong,Series(i)])

In [8]:
merged_list = pd.read_csv(replace_path+"VDS_구간통행속도_1일_1개월_통합.csv",encoding="utf-8",engine="python",index_col = 0)

In [165]:
# 앞에서 저장한 구간별 콘존ID 리스트와 매칭시켜서, (0010 패밀리, 0250 패밀리 등) 해당 콘존에 해당하는 데이터셋을 담아준다.

merged_kyongbu = DataFrame(columns = ["date","conzone","type","speed"])
merged_westsea = DataFrame(columns = ["date","conzone","type","speed"])
merged_honam = DataFrame(columns = ["date","conzone","type","speed"])
merged_innerland = DataFrame(columns = ["date","conzone","type","speed"])
merged_Yeongdong = DataFrame(columns = ["date","conzone","type","speed"])



while True:
    for j in lists_kyongbu:
        temp = merged_list.loc[np.where(np.array(merged_list["conzone"]) == j)]
        merged_kyongbu = merged_kyongbu.append(temp)
    for j in lists_westsea:
        temp = merged_list.loc[np.where(np.array(merged_list["conzone"]) == j)]
        merged_westsea = merged_westsea.append(temp)
    for j in lists_honam:
        temp = merged_list.loc[np.where(np.array(merged_list["conzone"]) == j)]
        merged_honam = merged_honam.append(temp)
    for j in lists_innerland:
        temp = merged_list.loc[np.where(np.array(merged_list["conzone"]) == j)]
        merged_innerland = merged_innerland.append(temp)
    for j in lists_Yeongdong:
        temp = merged_list.loc[np.where(np.array(merged_list["conzone"]) == j)]
        merged_Yeongdong = merged_Yeongdong.append(temp)
    break

NameError: name 'lists_westsea' is not defined

## 탐색적 데이터 분석(맛보기)

In [180]:
data = merged_main

h = (1.5) * (np.sort(data["speed"])[round((0.25)*(len(data)+1))] + np.sort(data["speed"])[round((0.75)*(len(data)+1))])
upper = round(np.sort(data["speed"])[round((0.75)*(len(data)+1))] + h)

print("속도가 0이 아닌 포인트는 몇개인가")
print((0<data["speed"]).value_counts())
print("=====================")
print("속도가 4분위를 벗어나는 이상값은 몇개인가")
print((data["speed"]<upper).value_counts())
print("=====================")
print("속도가 가장 높은 값은 어느 지점인가")
print(data.loc[np.argmax(data["speed"])])
print("=====================")
print("속도가 가장 낮은 지점은 어느 지점인가")
print(data.loc[np.argmin(data["speed"])])

속도가 0이 아닌 포인트는 몇개인가
True     314345
False     27813
Name: speed, dtype: int64
=====================
속도가 4분위를 벗어나는 이상값은 몇개인가
True    342158
Name: speed, dtype: int64
=====================
속도가 가장 높은 값은 어느 지점인가
conzone             0010CZS320
date                  20130901
dates      2013-09-01 00:00:00
speed                      170
type                         1
Name: 253560, dtype: object
=====================
속도가 가장 낮은 지점은 어느 지점인가
conzone             0010CZE010
date                  20180321
dates      2018-03-21 00:00:00
speed                        0
type                         1
Name: 443, dtype: object

In [181]:
#연도별 평균속도

merged_list.groupby(merged_list["dates"].apply(lambda x:x.year))["speed"].mean()

dates
2012    88.615773
2013    88.627797
2014    89.264458
2015    93.047259
2016    92.976788
2017    92.568525
2018    91.599242
Name: speed, dtype: float64

## R에서의 추가 분석을 위한 구간별 연도별 평균속도 데이터셋 만들기

In [15]:
merged_kyongbu = merged_kyongbu[merged_kyongbu["speed"] != 0]
merged_westsea = merged_westsea[merged_westsea["speed"] != 0]
merged_honam = merged_honam[merged_honam["speed"] != 0]
merged_innerland = merged_innerland[merged_innerland["speed"] != 0]
merged_Yeongdong = merged_Yeongdong[merged_Yeongdong["speed"] != 0]

In [19]:
merged_kyongbu["date_format"] = merged_kyongbu["date"].apply(lambda x: pd.to_datetime(str(x),format = "%Y%m%d",box=False))
merged_westsea["date_format"] = merged_westsea["date"].apply(lambda x: pd.to_datetime(str(x),format = "%Y%m%d",box=False))
merged_honam["date_format"] = merged_honam["date"].apply(lambda x: pd.to_datetime(str(x),format = "%Y%m%d",box=False))
merged_innerland["date_format"] = merged_innerland["date"].apply(lambda x: pd.to_datetime(str(x),format = "%Y%m%d",box=False))
merged_Yeongdong["date_format"] = merged_Yeongdong["date"].apply(lambda x: pd.to_datetime(str(x),format = "%Y%m%d",box=False))

## 만약의 사태에 대비하여 파일들을 임시로 저장한다.

In [29]:
merged_kyongbu.to_csv("속도데이터_경부.csv",encoding="utf-8")
merged_westsea.to_csv("속도데이터-서해안.csv",encoding="utf-8")
merged_honam.to_csv("속도데이터-호남.csv",encoding="utf-8")
merged_innerland.to_csv("속도데이터-중부내륙.csv",encoding="utf-8")
merged_Yeongdong.to_csv("속도데이터-영동.csv",encoding="utf-8")

In [4]:
merged_kyongbu = pd.read_csv("속도데이터_경부.csv",encoding="utf-8",engine="python",index_col = 0)
merged_westsea = pd.read_csv("속도데이터-서해안.csv",encoding="utf-8",engine="python",index_col = 0)
merged_honam = pd.read_csv("속도데이터-호남.csv",encoding="utf-8",engine="python",index_col = 0)
merged_innerland = pd.read_csv("속도데이터-중부내륙.csv",encoding="utf-8",engine="python",index_col = 0)
merged_Yeongdong = pd.read_csv("속도데이터-영동.csv",encoding="utf-8",engine="python",index_col = 0)

In [27]:
kyongbu_mean = merged_kyongbu.groupby(merged_kyongbu["date_format"].apply(lambda x : x[0:4]))["speed"].mean()

westsea_mean = merged_westsea.groupby(merged_westsea["date_format"].apply(lambda x : x[0:4]))["speed"].mean()

honam_mean = merged_honam.groupby(merged_honam["date_format"].apply(lambda x : x[0:4]))["speed"].mean()

innerland_mean = merged_innerland.groupby(merged_innerland["date_format"].apply(lambda x : x[0:4]))["speed"].mean()

Yeongdong_mean = merged_Yeongdong.groupby(merged_Yeongdong["date_format"].apply(lambda x : x[0:4]))["speed"].mean()

In [42]:
DataFrame([kyongbu_mean,westsea_mean,honam_mean,innerland_mean,Yeongdong_mean],index = ["경부","서해안","호남","중부내륙","영동"])

date_format,2012,2013,2014,2015,2016,2017,2018
경부,93.807838,93.561655,94.214452,94.716791,94.055922,93.706339,93.615070
서해안,98.711479,99.071360,99.889607,100.582614,99.516067,99.223373,99.283800
호남,95.026853,95.983864,95.827775,97.147585,96.420845,97.542540,96.838329
중부내륙,95.804951,95.740329,97.172796,98.095114,96.814999,96.310661,96.028651
영동,92.038565,91.678966,92.517549,91.860405,91.350546,91.210083,93.006983

## R에서 추가 분석을 위해 csv 형태로 저장한다.

In [37]:
mean_merged.to_csv("속도데이터-평균.csv",encoding="utf-8")

# 사용 완료